body {
  background: #f7f7ef;
}

.flex {
  display: flex;
}
.recipe-body {
  display: flex;
  /* margin: 50px; */
}

.margin {
  margin-left: 5vw;
}
.margin2 {
  margin-left: 10vw;
}

.setting {
  margin-left: 15vh;
}

.header {
  margin: 0px;
  /* background-color: #faf9f6; */
}

.header-content {
  padding: 2vh;
  text-align: center;
}

h2 {
  margin-top: 0;
}

/* .body-parts {
  background-color: #f8c469;
} */

.settings {
  justify-content: flex-end;
  /* padding: 1vw; */
}
